.video-container {
    position: relative;
    padding-top: 20%;
    height: 400px;
    overflow: hidden;
    width: 100%;
  }
  
  .video1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }

  @media(max-width: 430px){

    .video-container {
      height: auto;
      width: 100%;
      
    }
    
  
  }