.Problem_solving span {
    font-weight: bold;
}

.Problem_solving h1 {
    font-family: 'Montserrat', sans-serif;
}

.Problem_solving p {
    margin-left: 60px;
    font-family: "Open Sans", sans-serif;
}

.Problem_solving button {
    background-color: rgb(65, 109, 149);
    color: white;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    padding: 10px 20px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0 auto;
    display: block;
}

.Problem_solving button:hover {
    background-color: #419449;
    color: white;

}

.Problem_solving_2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
}

.player_wrapper04 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.react_player04 {
    width: 80%;
    height: 500px;
}

@media (max-width:430px)
{
    .centered-text{
        margin-left:25px !important;
    }

    .breakless{
        display: none;
    }

  .Problem_solving_2{
     height: 200px;
  }
  .Problem_solving h1{
    font-size: 25px;
  }

  .player_wrapper04{
    height: 150px;
  }

    .react_player04{
        height: 150px;
    }
}

@media (min-width:431px) and (max-width:768px)
{
    .centered-text{
        margin-left:60px !important;
        width:70%;
    }

    .breakless{
        display: none;
    }

  .Problem_solving_2{
     height: 200px;
  }

  .player_wrapper04{
    height: 150px;
  }

    .react_player04{
        height: 150px;
    }
}

.Technology_Content h1{
    font-family: 'Montserrat', sans-serif;
    align-items: center;
    text-align: center;
}

.companies img {
    height: 35px;
    width: auto;
    margin: 20px;
    display: block;
}


